*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: url('https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff2');
}
body{
    background-color:white;  
}

#img{
    width:10%;
    margin-left:35px;
}

.container{
    position:fixed;
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-content:center;
    padding:10px;
}

.premium{
    margin-right:50px;
    padding-top:15px;
}

.link1{
    text-decoration:none;
    padding:10px;
    color:white;
}
a:hover{
    color: #169b45;

}

.premium>li{
    display:inline-block;
    color: white;
}
#container2
{
    display: flex;
    justify-content: space-between;
   background:url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));

    padding-top: 100px ;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 70px;
   

}
#h11{
    color: white;
    font-size: 64px;
    padding-left: 50px;
    padding-right:180px ;
    padding-bottom: 20px;

}
#btn{
    margin-left: 50px;
    color: black;
    font-weight: 700;
    border: none;
    border-color: white;
    border-radius: 25px;
    padding: 10px 20px ;
    background-color: white;
}
#btn:hover{
    font-size: 18px;
}
#img2{
    
    width: 60%;
    height: 80%;
    margin-left: 100px;
}
.h12{
    font-size: 50px;
    text-align: center;
    padding-bottom: 70px;


}
.container3{
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.container3>li{
    list-style: none;
    width: 21%;
    margin: 0px 10px;
    text-align: center;
}
h2{
    color:black;
    padding-top: 20px;
    font-size: 30px;
   
}
li>p{
    color:black;
    width: 100%;
    font-size: 25px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 10px;
    
}
#container4{
    margin-bottom: 70px;
    text-align: center;
    height: 500px;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}
#container4>p{
    font-size: 50px;
    font-weight: 700;
    color: white;

}
#container4>p:first-child{
   padding-top: 170px;
    
}
details{
    margin-left: 100px;
    padding: 10px 10px 10px  10px;
}
details>summary{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    width: 80%;
}
details>ol{
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
summary:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #f0e8e8;
}
details>p{
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    
}
#container5{
    margin-bottom: 70px;
}

#container6{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    background: url(https://www.scdn.co/i/free/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
}
#container6>p{
    text-align: center;
    color:white;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 50px;
}
#container6>a{
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
    color: black;
    font-weight: 700;
    border: none;
    border-color: white;
    border-radius: 25px;
    padding: 10px 20px ;
    background-color: white;
}
#container6>a:hover{
    font-size: larger;
}
#container7{
    background-color: black;
    height: 500px;
}

#container8{
   
    display: flex;
}

.sub{
    margin:80px 80px;
}
.sub>li{
    text-align: left;
    margin-top: 20px;  
}

.sub>li:first-child{
    color:#919496;
    list-style: none;
}

.link2{
    color: white;
    text-decoration: none;
    margin-left: -20px;
}


.img5{    
    margin-top:100px;
    margin-left: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 55px;
    height: 55px;
}
#container9>li:first-child{
    margin-left: 60px;
}
#container9>li{
    display: inline;
}
#container9>li a{
    color:#919496;
    margin-left: 20px;
    font-size: 12px;
}
#container9>li a:hover{
    color: #169b45;
}
a::after{
    color: #169b45;
}